/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2017, 12:16:25 PM
    Author     : n5kuan00
*/
/*
h3 {
    color: red;
}
*/
.nappi {
    width: 10em !important;
}